<div class="container-fluid">
    <h1 class="mt-4">Form update user</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a [routerLink]="['']">Dashboard</a></li>
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item active">Update</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div>
    <div class="card mb-4">
    <div class="card-body">
        <form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()">
            <div class="form-group">
                <label>First Name</label>
                <input formControlName="firstName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input formControlName="lastName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input formControlName="email" type="email" class="form-control" placeholder="example@gmail.com">
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
</div>